<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About
        
    </title>
    <link rel="stylesheet"  href="./css/style.css">
    <link rel="icon" href="/pics/download.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> This is a weather application build as a backend project.</p>
        <p>
            This application uses API from "weatherapi.com". A server is created using Express which render dynamic files, 
            with the help of templating tool package named 'Handlebars'.<br> 
            Sending HTTP request with help of fetch and parsing the data to
            show it on the user interface.
              </p>
         <p> Thank you for reading.</p>
        
    </div>
        
    
    {{>footer}}
</body>
</html>