<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>
    <link rel="stylesheet"  href="./css/style.css">
    
    <link rel="icon" href="/pics/download.png">
    
</head>
<body>
    <div class="main-content">
        
        {{>header}}
        <h1> Provide location for forecast </h1>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>


        <p id="message-1">

        </p>
        <p id="message-2">

        </p>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>