body{
    background-color: rgb(178, 237, 237);
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto; 
    padding: 0  16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    color: #333333;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #333333;
    margin-right: 16px;
    text-decoration: none;
}

.main-content{
    flex-grow: 1;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #dbd3d3;
    background: #3e3d3d;
    color: white;
    padding: 8px;
}